.auth-main {
  position: relative;
  overflow: hidden;
}

.background-shape {
  background-image: url('layered-peaks-haikei.svg');

  position: absolute;
  /* top: 55vh; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center, 50%, 50%;
} 